/* html, */
body {
  /* max-width: 100vw;
  overflow-x: hidden; */

  background-color: #f3e3b9;
  color: #DD6E42;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  
}

#root {
  height: 100%;
}

.Home {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

}

.timer {
  font-size: 2em;
}

.message {
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 1.5em;
}


/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */